@model IdentityUser
@{
    ViewData["Title"] = "Register";
}

@section Head {
    <!-- Icons font CSS-->
    <link href="~/vendor/Register/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/Register/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/vendor/Register/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/Register/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/css/Register/main.css" rel="stylesheet" media="all">
}

    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">User ID - @Model.Id</h2>
                    <form asp-area="" asp-controller="Admin" asp-action="UpdateIdenityUser" method="POST">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">User Name</label>
                                    <input class="input--style-4" type="text" name="UserName" value="@Model.UserName">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Password</label>
                                    <input class="input--style-4" type="text" name="Password" value="@Model.Password">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Birthday</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" name="Birthday" value="@Model.Birthday">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Male
                                            <input type="radio" value="@(Model.Sex ? true : false)" checked="checked" name="Sex">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Female
                                            <input type="radio" value="@(!Model.Sex ? true : false)" name="Sex">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" name="Email" value="@Model.Email">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Phone Number</label>
                                    <input class="input--style-4" type="text" name="PhoneNumber" value="@Model.PhoneNumber">    
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="label">Job</label>
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="Job">
                                    <option disabled>Choose option</option>
                                    <option selected="@(Model.Job == "Student" ? "true" : "false")" value="Student">Student</option>
                                    <option value="Teacher">Teacher</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Save</button>
                            <button class="btn btn--radius-2 btn--blue" asp-area="" asp-controller="Admin" asp-action="Index">Cancel</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

@section Script
{
    <!-- Jquery JS-->
    <script src="~/vendor/Register/select2/select2.min.js"></script>
    <script src="~/vendor/Register/datepicker/moment.min.js"></script>
    <script src="~/vendor/Register/datepicker/daterangepicker.js"></script>
    <!-- Main JS-->
    <script src="~/js/Register/global.js"></script>
}
